.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;

  .right-section {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .new-task-btn {
    background: #2563ff;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s ease;

    &:hover {
      background: #1e4fd1;
    }
  }
}

@media (max-width:900px) {
  .tasks-header {
    display: block;
    
    .right-section {
      margin-top: 20px;
    }
  }
}
