.personal-info {
  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-bottom: 16px;
  }

  .save-btn {
    margin-top: 24px;
    background: #2563ff;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
  }
}
