.header-actions {
  display: flex;
  gap: 8px;

  button {
    background: white;
    padding: 8px 14px;
    border: 1px solid #dee0e6;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;

    &:hover {
      background: #f3f4f7;
    }
  }
}
