.task-column {
  background: #f8f9fb;
  padding: 16px;
  border-radius: 12px;
  width: 250px;

  .column-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    span {
      padding: 2px 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
    }
  }
}
