.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;

  .left {
    display: flex;
    align-items: center;
    gap: 18px;

    h2 {
      font-size: 22px;
      font-weight: 700;
      color: #1f2937;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}


@media (max-width: 900px) {
  .calendar-header {
    display: block;
  }
}