body {
    font-family: sans-serif;
}

main {
    margin-top: 30px;
    margin-left: 300px;
}

@media (max-width: 900px) {
    main{
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    main{
        margin-left: 0;
    }
}